<!-- Loading a translation -->
{% load i18n %}
<div class="card mb-3 mt-1 shadow-sm">

  <!-- Image display -->
  {% load thumbnail %}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}">
  {% endthumbnail %}
  <!-- Display of the post text -->
  <div class="card-body">
    <p class="card-text">
      <!-- Link to the author via @ -->
      <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
        <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
      </a>
      {{ post.text|linebreaksbr }}
    </p>

    <!-- If the post belongs to some community, then we will display a link to it via # -->
    {% if post.group %}
      <a class="card-link muted" href="{% url 'group_posts' post.group.slug %}">
        <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
      </a>
    {% endif %}

    <!-- Displaying a link to comments -->
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        {% if post.comments.exists %}
          <div>
            Комментариев: {{ post.comments.count }}
          </div>
        {% endif %}
        <a class="btn btn-sm btn-primary" href="{% url 'post' post.author.username post.id %}" role="button">
          {% trans "Добавить комментарий" %}
        </a>

        <!-- Link to edit the post for the author -->
        {% if user == post.author %}
          <a class="btn btn-sm btn-info" href="{% url 'post_edit' post.author.username post.id %}" role="button">
            {% trans "Редактировать" %}
          </a>
        {% endif %}
      </div>

      <!-- Date of publication of the post -->
      <small class="text-muted">{{ post.pub_date }}</small>
    </div>
  </div>
</div> 