<!-- Loading a translation -->
{% load i18n %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <div class="h2">
              <!-- Author's name -->
              {{ author.get_full_name }}
            </div>
            <div class="h3 text-muted">
              <!-- username of the author -->
              @{{ author }}
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h6 text-muted">
                {% trans "Подписчиков:" %} {{ author.following.count }} <br>
                {% trans "Подписан:" %} {{ author.follower.count }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <!-- Number of entries -->
                {% trans "Записей:" %} {{ posts.count }}
              </div>
            </li>
            <li class="list-group-item">
              {% if following %}
                <a
                  class="btn btn-lg btn-light"
                  href="{% url 'profile_unfollow' author.username %}" role="button">
                  {% trans "Отписаться" %}
                </a>
              {% else %}
                <a
                  class="btn btn-lg btn-primary"
                  href="{% url 'profile_follow' author.username %}" role="button">
                  {% trans "Подписаться" %}
                </a>
              {% endif %}
            </li> 
          </ul>
        </div>
      </div>
      <div class="col-md-9">