<!-- templates/about/author.html -->
{% extends "base.html" %}
<!-- Loading a translation -->
{% load i18n %}
{% block title %}{% trans "Технологии" %}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                {% trans "Технологии" %}
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <ul>
                  <li>Python</li>
                  <li>Django</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>
            {% blocktrans %} 
            Сайт полностью реализован на Python c помощью фреймворка Django.<br>
            Проект имеет локализацию на двух языках (Русский, Английский).
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 