{% extends "base.html" %}
<!-- Loading a translation -->
{% load i18n %}
{% block title %}{% trans "Последние обновления на сайте" %}{% endblock %}
{% block header %}{% trans "Последние обновления на сайте" %}{% endblock %}
{% block content %}


  <div class="container">
    {% include "includes/menu.html" with follow=True %}
    <!-- Output of the record feed -->
    {% for post in page %}
      {% include "includes/post_item.html" with post=post %}
    {% endfor %}
  </div>
  <!-- Output of the paginator -->
  {% include "includes/paginator.html" with items=page paginator=paginator%}
{% endblock %} 